<!-- In this particular section we are going to learn
quotation -->

<!-- The HTML <blockquote> element defines a section that is quoted from another source.

Browsers usually indent <blockquote> elements. -->

<p>This is a very famous quote from a popular site:</p>

<blockquote cite="https://www.dictionary.com/browse/no-pain--no-gain">
    Suffering is needed to make progress, as in I've worked for hours on those irregular French verbs, but no pain, no
    gain. Although this idiom is often associated with athletic coaches who urge athletes to train harder, it dates from
    the 1500s and was already in John Ray's proverb collection of 1670 as “Without pains, no gains.”
</blockquote>

<!-- The HTML <q> tag defines a short quotation.

Browsers normally insert quotation marks around the quotation. -->

<p>This is a quote which goes like this: <q>Honesty is my best policy</q></p>


<!-- The HTML <abbr> tag defines an abbreviation or an acronym, like "HTML", "CSS", "Mr.", "Dr.", "ASAP", "ATM".

Marking abbreviations can give useful information to browsers, translation systems and search-engines. -->

<p>The use of <abbr title="Hyper text markup language">HTMl</abbr> is to create the web pages of the website.</p>

<!-- The HTML <address> tag defines the contact information for the author/owner of a document or an article. -->
<address>
    #1 Ashok nagar <br>
    karnataka bangalore <br>
    560025 <br>
    India
</address>

<!-- The HTML <cite> tag defines the title of a creative work (e.g. a book, a poem, a song, a movie, a painting, a sculpture, etc.). -->

<p><cite>Runway 34</cite> movie is produced by Ajay Devgn</p>

<!-- BDO stands for Bi-Directional Override. -->

<!-- The HTML <bdo> tag is used to override the current text direction: -->

<bdo dir="rtl">This is my favourite game.I will play it very well</bdo>

<bdo dir="ltr">This is my favourite game.I will play it very well</bdo>

